*,
body {
  padding: 0;
  margin: 0;
}

body {
  height: 200vh;
  background-color: #00100c;
}
header {
  height: 34px;
  background-color: #04120c;
  color: #b8e1ee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-in-header {
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  height: 34px;
  box-sizing: border-box;
}

.button-in-header:hover {
  background-color: #127374;
}

#right-buttons {
  display: flex;
}
.active-menu:hover {
  background-color: #013a38;
}

#main-image {
  min-width: 1000px;
}

#image-wrapper {
  overflow: hidden;
}

#document-title {
  color: #127374;
}
